[submodule "arrays/arrays/jumping-on-clouds"]
	path = arrays/arrays/jumping-on-clouds
	url = https://github.com/mich-chen/jumping-on-clouds
[submodule "arrays/arrays/max-subarray"]
	path = arrays/arrays/max-subarray
	url = https://github.com/mich-chen/max-subarray
[submodule "arrays/arrays/left-rotation"]
	path = arrays/arrays/left-rotation
	url = https://github.com/mich-chen/left-rotation
[submodule "arrays/arrays/product-array-except-self"]
	path = arrays/arrays/product-array-except-self
	url = https://github.com/mich-chen/product-array-except-self
[submodule "arrays/two-sum"]
	path = arrays/two-sum
	url = https://github.com/mich-chen/two-sum
[submodule "arrays/jumping-on-clouds"]
	path = arrays/jumping-on-clouds
	url = https://github.com/mich-chen/jumping-on-clouds
[submodule "arrays/max-subarray"]
	path = arrays/max-subarray
	url = https://github.com/mich-chen/max-subarray
[submodule "arrays/left-rotation"]
	path = arrays/left-rotation
	url = https://github.com/mich-chen/left-rotation
[submodule "arrays/product-array-except-self"]
	path = arrays/product-array-except-self
	url = https://github.com/mich-chen/product-array-except-self
[submodule "hashmaps/two-sum"]
	path = hashmaps/two-sum
	url = https://github.com/mich-chen/two-sum
[submodule "hashmaps/best-time-buy-sell-stock"]
	path = hashmaps/best-time-buy-sell-stock
	url = https://github.com/mich-chen/best-time-buy-sell-stock
[submodule "hashmaps/move-zeros"]
	path = hashmaps/move-zeros
	url = https://github.com/mich-chen/move-zeros
[submodule "hashmaps/repeated-strings"]
	path = hashmaps/repeated-strings
	url = https://github.com/mich-chen/repeated-strings
[submodule "hashmaps/ransom-note"]
	path = hashmaps/ransom-note
	url = https://github.com/mich-chen/ransom-note
